<!DOCTYPE html>

<html lang="ro">

<head>
    <title> Little's PetShop </title>
    <meta charset="UTF-8"><!-- codificarea în memorie a caracterelor-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
    <meta name="keywords" content="animale, ieftie, promoții, oferte">
    <!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <!-- Google si Bing nu mai folosesc keyword-urile-->
    <meta name="description"
        content="Little's PetShop. magazin de animale. hrană pentru animale. hăinuțe pentru animale. jucării pentru animale.">
    <!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
     
    <%- include("../fragmente/head.ejs")  %>        
</head>

<body>
    <%- include("../fragmente/header.ejs")  %>  
    <main>
        <!-- <h1>
            Little's PetShop
        </h1> -->
        <div id="grid-pagina">
            <section id="welcome">
                <h2>
                    Bine ați venit!
                </h2>
                <p>Magazinul nostru online vă stă la dispoziție non-stop, astfel încât puteți comanda în orice moment cele mai bune și <b> ieftine </b> produse și puteți beneficia de cele mai tari <b> promoții </b> și <b> oferte </b>.</p>
                <section id="despre_noi">
                    <h3>
                        Despre noi
                    </h3>
                        <strong>
                            Scopul nostru este să aducem bucurie în viaţa animalelor de companie şi a proprietarilor acestora și să îmbunătăţim relaţia dintre <b> animale </b> şi oameni.
                        </strong>
                    <b> Little's PetShop </b> se dorește a fi primul Pet Shop Online care să vă ofere posibilitatea ca prin câteva click-uri să beneficiați de o gamă largă de produse, cum ar fi:
                        <ul><!-- unordered list-->
                            <li><b>Hrană pentru animale</b></li>
                            <li><b>Hăinuțe pentru animale</b></li>
                            <li><b>Jucării pentru animale</b></li>
                        </ul>
                </section>
            </section>
            <section id="intrebari">
                <h2>
                    Întrebări
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis neque in sapien ultrices, vel varius nisl porttitor. Nullam id risus quis nulla eleifend tristique. Maecenas vestibulum interdum ligula, et ultrices mauris fermentum at. Vestibulum eget lacinia augue. Phasellus dignissim pretium diam dictum semper. Cras in mi et turpis vulputate lobortis sit amet nec dolor. Nulla et feugiat mi, semper placerat risus.</p>
            </section>
            <section id="anunturi">
                <h2>
                    Anunțuri
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo, metus elementum fermentum vestibulum, ipsum felis hendrerit felis, eget scelerisque ante eros non libero. In sapien ligula, pulvinar posuere aliquam nec, tempor id justo. Sed scelerisque ut nunc id laoreet. Proin consequat finibus fringilla. In molestie pulvinar massa vel commodo. Aenean commodo purus id elit laoreet venenatis. Maecenas id imperdiet libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </section>
            <section id="curiozitati">
                <h2>
                    Curiozități
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit tincidunt felis, vel iaculis risus pulvinar at. Morbi vestibulum porttitor interdum. Nunc risus est, scelerisque in lorem vel, vestibulum hendrerit nibh. Mauris scelerisque metus sit amet urna commodo porta. Fusce scelerisque mauris ac est blandit, eget gravida purus vulputate. Quisque viverra felis sit amet diam malesuada faucibus. Integer a diam sollicitudin risus porta tincidunt et at ex.</p>
            </section>
            <section id="clienti">
                <p>ip: <%- locals.ip %></p>
                <h2>
                    Clienți Mulțumiți
                </h2>
                <strong>
                    În caz că nu sunteți convinși că produsele noastre sunt cele mai potrivite pentru animăluțul dumneavoastră, v-am pregătit câteva videoclipuri și poze cu cei mai drăguți "clienți" ai noștri:
                </strong>
                <div class="container-iframe">
                    <iframe class="video" name="ifr-video" width="500" height="300" src="https://www.youtube.com/embed/76nqFvHRm7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></iframe>
                    <div class="taburi-iframe">
                        <a class="vid" href="https://www.youtube.com/embed/76nqFvHRm7c" target="ifr-video"> Colaj animăluțe </a><br/>
                        <a class="vid" href="https://www.youtube.com/embed/1u0VOUQRhz0" target="ifr-video"> Mâncăcioșii </a><br/>
                    </div>
                </div>
            </section>
            <section id="ghid">
                <h2>
                    Ghidul copiilor pentru îngrijirea animalelor
                </h2>
                <strong>
                    Pentru a vă ajuta, v-am pregătit și un ghid pentru copii pe care îl puteți descărca gratuit de <a href="/resurse/Pet_School_Brosura_1.pdf" download="GhidCopii.pdf" target="_blank">aici.</a>
                </strong>
            </section>
            <section id="tabel">
                <h2>
                    Hrănirea zilnică a câinelui tău
                </h2>
                <div style="overflow-x: auto; width: 100%">
                    <table id="hrana" width="500px">
                        <caption>
                            Hrană uscată/Zi
                        </caption>
                        <thead>
                            <tr class="tabel_grosime">
                            <th rowspan="2">Vârsta (luni)</th>
                            <th>Mese</th>
                            <th>5 kg</th>
                            <th>15 kg</th>
                            <th>25 kg</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>4</td>
                                <td>85-95 g</td>
                                <td>195-215 g</td>
                                <td>275-300 g</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>3</td>
                                <td>120-135 g</td>
                                <td>275-305 g</td>
                                <td>400-435 g</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2</td>
                                <td>125-140 g</td>
                                <td>285-315 g</td>
                                <td>420-460 g</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>2</td>
                                <td>125-140 g</td>
                                <td>285-310 g</td>
                                <td>420-460 g</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>2</td>
                                <td>125-140 g</td>
                                <td>285-310 g</td>
                                <td>410-450 g</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="tabel_center tabel_grosime" colspan="5">Ai grijă de puiul tău</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
            <section id="promotii">
                <h2>
                    Promoții
                </h2>
                <p>
                    <strong> Promoțiile noastre: </strong>
                </p>
                <details> <summary>Promoții produse pentru câini</summary>
                    <figure>
                        <picture>
                            <source media="(max-width: 600px)" srcset="/resurse/Imagini/bobite1.webp">
                            <source media="(max-width: 1000px)" srcset="/resurse/Imagini/bobite1.webp"> 
                            <img src="/resurse/Imagini/bobite1.webp" alt="imagine-sigla" width="300" height="350">
                        </picture>
                        <figcaption><s>75 lei</s> <ins style="font-weight:bold; text-decoration:none;">50 lei</ins></figcaption>
                    </figure>
                </details>
                <details> <summary>Promoții produse pentru pisici</summary>
                    <figure>
                        <picture>
                            <source media="(max-width: 600px)" srcset="/resurse/Imagini/mancare_pisici.webp">
                            <source media="(max-width: 1000px)" srcset="/resurse/Imagini/mancare_pisici.webp">
                            <img src="/resurse/Imagini/mancare_pisici.webp" alt="imagine-sigla" width="200" height="200">
                        </picture>
                        <figcaption><s>50 lei</s> <ins style="font-weight:bold; text-decoration:none;">20 lei</ins></figcaption>
                    </figure>
                </details>
                <h2>
                    Video
                </h2>
                <video controls preload="auto" poster="/resurse/video/poster.png">
                    <source src="/resurse/video/video_mp4.mp4" type="video/mp4">
                    <source src="/resurse/video/video_ogv.ogv" type="video/ogv">
                    <track default src="/resurse/video/subtitrari_ro.vtt" kind="captions" srclang="ro" label="romana"/>
                    <track  src="/resurse/video/subtitrari_en.vtt" kind="captions" srclang="en" label="engleza"/>
                </video>
            </section>
        </div>
        <a href="#top" id="link_top"  title="Înapoi sus">
            <div id="linktop_container">
                <div class="linktop_triangle"></div>
            </div>
        </a>
    </main>
    <%- include("../fragmente/footer.ejs")  %>  
    <hr>
    <button type="button" class="btn btn-link">Link</button>
</body>
</html>