html{
    font-size: 18px;
    transition: font-size 0.5s linear;
    font-family: 'Noto Serif', serif;
}

header{
    margin-bottom: 20px;
}

body{
    --albastru-inchis: #0D67FF;
    --albastru: #0C98E8;
    --bleu: #d5f4f8;
    --verde: #11cb81;
    --verde-deschis: #0DFF90;
    --c1: #124be8;
    --c2: #17f066;
    --culoare-text: black;
    --text-meniu: black;
    --spatiere-pagina: 6px;
    --padding-sectiune: 15px;
}

body.dark{
    --albastru-inchis: #09152a;
    --albastru: #101b22;
    --bleu: #13444a;
    --verde: #20543f;
    --verde-deschis: #044326;
    --c1: #1a1b1e;
    --c2: #191d1a;
    --culoare-text: rgb(212, 198, 198);
    --text-meniu: white;
    --spatiere-pagina: 6px;
    --padding-sectiune: 15px;
}

footer{
    margin-top: 20px;
}

header,footer, #grid-pagina > *{
    box-shadow: inset 0px 0px 12px 2px white;
    border-radius: 5px;
    padding: var(--padding-sectiune);
}

body.dark{
    --culoare-fundal: black;
    --culoare-text: white;
}



body{
    background-color: var(--bleu);
    color: var(--culoare-text);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    
}

h1{
    font-size: 2.5rem;
}


h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
}

img{
    width: 100%;
    height: auto;
    min-width: 150px;
    max-width: 350px;
}
header > picture >img{
    width: 100%;
    height: auto;
    min-width: none;
    max-width: none;
}

#grid-pagina > *{
    border: 3px solid var(--verde);
    padding: var(--padding-sectiune);
}
#grid-pagina{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "z-welcome z-welcome z-welcome"
        "z-intrebari z-anunturi z-curiozitati"
        "z-clienti z-clienti z-tabel"
        "z-ghid z-ghid z-tabel"
        "z-promotii z-promotii z-promotii"
        ;
    grid-gap: 20px;
    /*
    grid-row-gap
    grid-column-gap
    */
}

#welcome{
    grid-area: z-welcome;
        
}
#despre_noi{
    grid-area: z-despre;
}
#clienti{
    grid-area: z-clienti;
}

#ghid{
    grid-area: z-ghid;
}

#promotii{
    grid-area: z-promotii;
}

#contact{
    grid-area: z-contact;
}

#intrebari{
    grid-area: z-intrebari;
}

#curiozitati{
    grid-area: z-curiozitati;
}

#anunturi{
    grid-area: z-anunturi;
}

#tabel{
    grid-area: z-tabel;
}

.vid{
    text-decoration: none;
    display: block;
    border-right-style: double;
    border-top-style: double;
    border-bottom-style: double;
    border-color: var(--verde);
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    background: 2px var(--verde-deschis);
    padding: 10px;
    /* width: 80px;
    height: 30px; */
    text-align: center;
    box-sizing: content-box;
    font-size: 15px;
    color: var(--verde);
}

.container-iframe{
    display: flex; 
    flex-direction: row;
}

.taburi-iframe{
    display: flex;
    flex-direction: column;
}

.vid:hover{
    background-color: var(--verde);
    border-color: var(--verde-deschis);
    transform: translateX(10px);
    background-color:#0CE8C1;
    border: 2px double #0DFF90;
    transition: 0.5s linear;
}

.video{
    border: 4px solid var(--verde);
    border-style: inset;
}

th, td {
    border: 2px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
    caption-side: top;
}

td:nth-child(even){
    border-left-color: var(--c1);
    border-right-color: var(--c2);
}

td:nth-child(odd){
    border-right-color: var(--c1);
    border-left-color: var(--c2);
}

.tabel_grosime{
    border: 3px solid black;
}

tr:hover {
    box-shadow: inset 0px 0px 10px 1px rgb(15, 105, 221);
    transition: all 0.3s linear;
}

.tabel_center{
    text-align: center;
}

.linktop_triangle{
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid white;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    rotate: -45deg;
    scale: 0.8;
    display: block;
}

#linktop_container{
    rotate: 45deg;
    --dimensiune:50px;
    display: flex;
    position: fixed;
    bottom: 1em;
    right:1em;
    opacity: 0.5;
    border: 2px solid var(--c2);
    width: var(--dimensiune);
    height: var(--dimensiune);
    background-color: var(--albastru);
    
}

#linktop_container:hover{
    opacity: 1;
    background-color: var(--albastru-inchis);
    transition: all 0.4s linear;
}

main{
    margin-top: 50px;
}

#watermark{
    display: none;
}

::cue{
    background: linear-gradient(var(--c1), var(--c2));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.4rem;
}

video{
    display: block;
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    min-height: auto;
    max-height: none;
}

a{
    color: var(--albastru-inchis);
    background-position: center;
    background-size: 0%;
    background-repeat: no-repeat;
}

a:hover{
    color:#082b8a;
    transition: color 0.4s linear;
    background-image: radial-gradient(#0008fa85 40%,#00000000 80%, #00000000 100%);
    background-size: 100%;
    transition: background-size 0.3s linear;
}


a:visited{
    text-decoration: none;
    color: var(--albastru-inchis);
}

a:active{
    color: var(--c1);
    border: 3px solid black;
    transition: all 0.75s linear;
}

a[href^="http"]{
    color: var(--albastru-inchis);
    transition: all 0.4s linear;
}
a[href^="http"]:hover{
    color:#082b8a;
    transition: all 0.4s linear;
}

a[href^="http"]:visited{
    color: var(--albastru-inchis);
}

a[href^="http"]::before{
    content: "⮳";
    font-size: 1.25rem;
}
a[href^="http"]:hover::before{
    color: var(--c1);
    transition: color 0.5s linear;
}

hr{
    /* background-image: linear-gradient(#1f0fcf,#0DFF90); */
    height: 10px;
    background: repeating-linear-gradient(#64e69f, #64e69f 1px, #9198e5 2px, #9198e5 3px,#9198e5 4px);
    border-radius: 12px;
    opacity: 0.85;
    border-top: 0;
}

*::selection{
    background-color: #10eb7a9f;
    color: #1a1de2fc;
}

/*etapa 5-reflexie*/


#text_reflectat_c{
    display: block;
    height: 50px;
    font-size:40px;
	line-height:40px;
	font-weight: bold;
}

#text_reflectat_c > #text_reflectat{
	transform-origin:0 0;
	transform: rotateX(180deg) skew(-60deg) scaleY(0.5) translate(8px,-27px); 
	/* opacity:0.55; */
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    position: absolute;
    /* z-index: -1; */
    --imagine-masca: repeating-radial-gradient(circle at 50% 100%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca);
    mask-image: var(--imagine-masca);
    
}

#text_reflectat_c:hover > #text_reflectat{
    /* transform: rotateX(180deg) skew(-60deg) scaleY(0.75) translate(10px,-30px); */
	/* transition: all 0.35s linear; */
    --imagine-masca1: repeating-radial-gradient(circle at 50% 95%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca1);
    mask-image: var(--imagine-masca1);
    animation: unde 2s linear infinite;
}

@keyframes unde{
    15% {
        --imagine-masca1: repeating-radial-gradient(circle at 50% 95%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca1);
    mask-image: var(--imagine-masca1);
    }
    30% {
        --imagine-masca2: repeating-radial-gradient(circle at 50% 90%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca2);
    mask-image: var(--imagine-masca2);
    }
    50% {
        --imagine-masca3: repeating-radial-gradient(circle at 50% 85%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca3);
    mask-image: var(--imagine-masca3);
    }
    75% {
        --imagine-masca4: repeating-radial-gradient(circle at 50% 80%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca4);
    mask-image: var(--imagine-masca4);
    }
    100% {
        --imagine-masca5: repeating-radial-gradient(circle at 50% 75%,black, transparent, black 3%);
    -webkit-mask-image: var(--imagine-masca5);
    mask-image: var(--imagine-masca5);
    }
    }



@media screen and (max-width: 700px) {
    table#hrana {
      border: 0;
    }
  
    table#hrana caption {
      font-size: 1.3em;
    }
    
    table#hrana thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table#hrana tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table#hrana td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    /* table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    } */
    
    table#hrana tbody td:nth-child(1)::before{
        content:"Vârsta (luni): ";
        float:left;
    }
    table#hrana tbody td:nth-child(2)::before{
        content:"Mese: ";
        float:left;
    }
    table#hrana tbody td:nth-child(3)::before{
        content:"5 kg: ";
        float:left;
    }
    table#hrana tbody td:nth-child(4)::before{
        content:"15 kg: ";
        float:left;
    }
    table#hrana tbody td:nth-child(5)::before{
        content:"25 kg: ";
        float:left;
    }


    table#hrana td:last-child {
      border-bottom: 0;
    }
  }


  @keyframes vinedreapta{
    43% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-300%);
    }
    57% {
        transform: translateX(-100%);
    }
    
    100% {
        transform: translateX(50%);
    }
    }

#miscator {
    position: relative;
    transform: translateX(50%);
    animation: vinedreapta 4s linear infinite forwards 1s;
}



.main-pic{
    filter: grayscale(0%);
    transition: filter 3s;
}

.main-pic:hover{
    filter: grayscale(100%);
}

