<footer>
    <section id="contact">
        <h2>
            Date de contact:
        </h2>
    </section>
    <a href="#"> Link top </a><br/>
    <!-- adresa, contact etc.-->
    <i class="fa-solid fa-envelope"></i><a href="mailto:lemnaru.amedeea@gmail.com" target="_blank"> Trimite un mail</a><br/>
    <i class="fa-solid fa-phone"></i><a href="tel:+40725483468" target="_blank"> Apelează </a><br/>
    <i class="fa-brands fa-whatsapp"></i><a href="https://wa.link/sp3apg" target="_blank"> Whatsapp </a><br/>
    <address> <!-- doar face textul italic-->
       <div><i class="fa-solid fa-map-pin fa-beat"></i><a href="https://goo.gl/maps/gST5qcRMucincs876" target="_blank"> Adresa noastra </a></div> 
    </address>
    <div id="div_banner"><p id="banner">Acesta este un proiect școlar!</p></div>
    <button id="tema">☼</button>
    <p id='miscator'><small> Copyright &copy; <time datetime="2023-02-28">28 februarie 2023</time> </small></p>
</footer>