<header class="c1" id="h1">
    <h1> Little's PetShop </h1>
    <picture>
        <source media="(max-width: 600px)" srcset="./resurse/Imagini/animale-companie.png">
        <source media="(max-width: 1000px)" srcset="./resurse/Imagini/animale-companie.png">
        <img src="/resurse/Imagini/animale-companie.png" alt="imagine-sigla">
    </picture>
    <p id="watermark">&copy; Lemnaru<br>Amedeea-Elena</p>
</header>
<nav>
    <label id="animal" for="ch-meniu">
        <img src="/resurse/imagini/Animal_icon_alb.png" alt="menu">
    </label>
    <input id="ch-meniu" type="checkbox">
    <ul class="meniu">
        <li><div id="acasa_meniu"><i class="fa-solid fa-house home"></i><div id="acasa_text">Pagina principală</div></div>
            <ul>
                <li><a href="#welcome"> Bine ați venit! </a>
                    <ul>
                        <li><a href="#despre_noi"> Despre noi </a></li>
                    </ul>
                </li>
                <li><a href="#clienti"> Clienți mulțumiți </a></li>
                <li><a href="#ghid"> Ghidul copiilor </a></li>
                <li><a href="#promotii"> Promoții </a></li>
                <li><a href="#contact"> Date de contact </a></li>
            </ul>
        </li>
        <li><a href="#caini"> Câini </a>
            <ul>
                <li><a href="#hrana_caini"> Hrană pentru câini </a></li>
                <li><a href="#igiena_caini"> Igiena și îngrijire</a></li>
                <li><a href="#accesorii_caini"> Accesorii și jucării</a></li>
            </ul>
        </li>
        <li><a href="#pisici"> Pisici </a>
            <ul>
                <li><a href="#hrana_pisici"> Hrană pentru pisici </a></li>
                <li><a href="#igiena_pisici"> Igiena și îngrijire </a></li>
                <li><a href="#accesorii_pisici"> Accesorii și jucării </a></li>
            </ul>
        </li>    
        <li><a href="#alte_animale"> Alte animale </a>
            <ul>
                <li><a href="#produse_pasari"> Hrană pentru păsări </a></li>
                <li><a href="#produse_rozatoare"> Hrană pentru rozătoare </a></li>
                <li><a href="#produse_pesti">Produse pentru pești</a></li>
            </ul>
        </li>    
    </ul>
</nav>